<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Workout Tracker</title>
    </head>
<form action="/" method="POST" >
    <h1>Set 1</h1>
    <input type="text" name="press" placeholder="Press"><input type="text" name="pressreps" placeholder="Reps"><br><br>
    <input type="text" name="standingrow" placeholder="Standing Row"><input type="text" name="standingrowreps" placeholder="Reps"><br><br>
    <input type="text" name="curls" placeholder="Curls"><input type="text" name="curlsreps" placeholder="Reps"><br><br>
    <input type="text" name="flys" placeholder="Flys"><input type="text" name="flyreps" placeholder="Reps"><br><br>
    <h1>Cardio</h1>
    <input type="text" name="time" placeholder="Time"><input type="text" name="distance" placeholder="Distance">
    <br>
    <input style="margin:10px;border:none;background-color:white;padding:5px;border: solid black 1px" type="submit">
    </form>
    
    
</html>