<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Workout Tracker</title>
        <style>
            h1 {text-align: center;}
            div {display: inline;}
            form {text-align: center;}
            input {margin:5px;border:solid 2px black;padding: 10px;}
        </style>
    </head>
    
<form action="/" method="POST" >
    
    <h1>Set 1</h1>
    
        <div class="col"><input type="number" name="press" placeholder="Press"></div><div class="col"><input type="number" name="pressreps" placeholder="Reps"></div><br><br>
    
    <div class="col"><input type="number" name="standingrow" placeholder="Standing Row"></div><div class="col"><input type="number" name="standingrowreps" placeholder="Reps"></div><br><br>
    <div class="col"><input type="number" name="curls" placeholder="Curls"></div><div class="col"><input type="number" name="curlsreps" placeholder="Reps"></div><br><br>
    <div class="col"><input type="number" name="flys" placeholder="Flys"></div><div class="col"><input type="number" name="flyreps" placeholder="Reps"></div><br><br>
    <h1>Cardio</h1>
    <div class="col"><input type="number" name="distance" placeholder="Distance"></div><div class="col"><input type="number" name="time" placeholder="Time"></div>
    <br>
    <input style="margin:10px;border:none;background-color:white;padding:5px;border: solid black 1px" type="submit">
    </form>
    
    
</html>